[submodule "Kerberos/vendor/GLFW"]
	path = Kerberos/vendor/GLFW
	url = https://github.com/EasySouls/glfw
[submodule "Kerberos/vendor/imgui"]
	path = Kerberos/vendor/imgui
	url = https://github.com/EasySouls/imgui.git
	branch = docking
[submodule "Kerberos/vendor/glm"]
	path = Kerberos/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Kerberos/vendor/yaml-cpp"]
	path = Kerberos/vendor/yaml-cpp
	url = https://github.com/EasySouls/yaml-cpp
[submodule "Kerberos/vendor/ImGuizmo"]
	path = Kerberos/vendor/ImGuizmo
	url = https://github.com/EasySouls/ImGuizmo
[submodule "Kerberos/vendor/Assimp"]
	path = Kerberos/vendor/Assimp
	url = https://github.com/EasySouls/Assimp
[submodule "Kerberos/vendor/JoltPhysics"]
	path = Kerberos/vendor/JoltPhysics
	url = https://github.com/EasySouls/JoltPhysics
[submodule "Kerberos/vendor/msdf-atlas-gen"]
	path = Kerberos/vendor/msdf-atlas-gen
	url = https://github.com/EasySouls/msdf-atlas-gen
