# Directories
.vs/
bin/
bin-int/

# Cached shaders
Sandbox/assets/shadercache/
KerberosEditor/assets/shadercache/

# Profiling stats
Sandbox/*.json
KerberosEditor/*.json

# Log files
KerberosEditor/*.log

# KerberosScriptCoreLib intermediates
KerberosEditor/Resources/Scripts/Intermediates

scripts/__pycache__